* {
  box-sizing: border-box;
  cursor: pointer;
  cursor: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cellipse rx='5' ry='7' cx='8' cy='8' fill='violet' stroke='black' stroke-width='1'/%3E%3Cellipse rx='4' ry='2' cx='8' cy='4' fill='gray' stroke='black' stroke-width='1'/%3E%3Cellipse rx='3' ry='1' cx='8' cy='2' fill='black'/%3E%3Cpolyline stroke='black' stroke-width='1' points='4,4 0,0'/%3E%3Cpolyline stroke='black' stroke-width='1' points='12,4 16,0'/%3E%3Cpolyline stroke='black' stroke-width='1' points='3,8 0,8'/%3E%3Cpolyline stroke='black' stroke-width='1' points='13,8 16,8'/%3E%3Cpolyline stroke='black' stroke-width='1' points='3,10 0,16'/%3E%3Cpolyline stroke='black' stroke-width='1' points='13,10 16,16'/%3E%3C/svg%3E") -8 0, pointer;
}

body {
  background-color: #e2f0dd;
}

h1 {
  font-size: 2rem;
  margin: 2em 0;
  text-align: center;
  color: #355534;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

main {
  width: 23em;
  margin: 0 auto;
  border: 0.3em solid #355534;
  padding: 1em;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
  background-color: #c1ecbf;
  counter-reset: score;
}

main::after {
  content: 'You fed ' counter(score) '/9 birds';
  grid-column: 1/4;
  margin-top: 1em;
  border-top: 0.1em solid #355534;
}

input {
  display: none;
}

div {
  width: 6em;
  height: 6em;
  position: relative;
  background: url("data:image/svg+xml,%3Csvg width='6rem' height='6rem' viewBox='0 0 150 150' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpolygon points='25,25 125,25 125,125 25,125' fill='%23666' /%3E%3Cpolygon points='75,0 150,75 75,150 0,75' fill='%23333' /%3E%3Cpolygon points='100,0 150,100 40,140 10,40' fill='%23ccc' /%3E%3Cpolygon points='50,10 140,50 100,140 10,100' fill='%23999' /%3E%3Ccircle cx='75' cy='90' fill='cornsilk' stroke='black' stroke-width='1' r='45'/%3E%3Ccircle cx='75' cy='55' fill='cornsilk' stroke='black' stroke-width='1' r='40'/%3E%3Ccircle cx='55' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='95' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='55' cy='50' fill='black' r='6'/%3E%3Ccircle cx='95' cy='50' fill='black' r='6'/%3E%3Cpolygon stroke='black' fill='khaki' stroke-width='1' points='65,70 75,60 85,70 75,110 65,70'/%3E%3C/svg%3E") center no-repeat;
}

.nest {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  background: url("data:image/svg+xml,%3Csvg width='6rem' height='6rem' viewBox='0 0 150 150' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpolygon points='25,25 125,25 125,125 25,125' fill='%23666' /%3E%3Cpolygon points='75,0 150,75 75,150 0,75' fill='%23333' /%3E%3Cpolygon points='100,0 150,100 40,140 10,40' fill='%23ccc' /%3E%3Cpolygon points='50,10 140,50 100,140 10,100' fill='%23999' /%3E%3Ccircle cx='75' cy='90' fill='cornsilk' stroke='black' stroke-width='1' r='45'/%3E%3Ccircle cx='75' cy='55' fill='cornsilk' stroke='black' stroke-width='1' r='40'/%3E%3Ccircle cx='55' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='95' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='55' cy='50' fill='black' r='6'/%3E%3Ccircle cx='95' cy='50' fill='black' r='6'/%3E%3Cpolygon stroke='black' fill='firebrick' stroke-width='1' points='65,60 75,25 85,60 75,100'/%3E%3Cline x1='65' y1='60' x2='85' y2='60' stroke='black' stroke-width='2'/%3E%3C/svg%3E") center no-repeat;
  animation: hungry 3s infinite forwards;
}

.nest-5 {
  animation-delay: 0.5s;
}

.nest-1 {
  animation-delay: 0.7s;
}

.nest-9 {
  animation-delay: 1.2s;
}

.nest-2 {
  animation-delay: 1.5s;
}

.nest-6 {
  animation-delay: 1.7s;
}

.nest-8 {
  animation-delay: 2.3s;
}

.nest-4 {
  animation-delay: 2.5s;
}

.nest-7 {
  animation-delay: 3s;
}

.nest-3 {
  animation-delay: 3.1s;
}

input:checked + .nest {
  background: url("data:image/svg+xml,%3Csvg width='6rem' height='6rem' viewBox='0 0 150 150' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpolygon points='25,25 125,25 125,125 25,125' fill='%23666' /%3E%3Cpolygon points='75,0 150,75 75,150 0,75' fill='%23333' /%3E%3Cpolygon points='100,0 150,100 40,140 10,40' fill='%23ccc' /%3E%3Cpolygon points='50,10 140,50 100,140 10,100' fill='%23999' /%3E%3Ccircle cx='75' cy='90' fill='cornsilk' stroke='black' stroke-width='1' r='45'/%3E%3Ccircle cx='75' cy='55' fill='cornsilk' stroke='black' stroke-width='1' r='40'/%3E%3Ccircle cx='55' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='95' cy='50' fill='white' stroke='black' stroke-width='1' r='10'/%3E%3Ccircle cx='55' cy='50' fill='black' r='6'/%3E%3Ccircle cx='95' cy='50' fill='black' r='6'/%3E%3Cpolygon stroke='black' fill='khaki' stroke-width='1' points='65,70 75,60 85,70 75,110 65,70'/%3E%3Cpolygon fill='cornsilk' stroke='black' stroke-width='1' points='120,75 150,75 120,105'/%3E%3Cpolygon fill='cornsilk' stroke='black' stroke-width='1' points='0,75 30,75 30,105'/%3E%3C/svg%3E") center no-repeat;
  transform: scale(1);
  animation: score 0.1s 1 forwards, goodbird 2s 1 forwards;
}

@keyframes hungry {
  0%,
  30% {
    transform: scale(1);
  }
  31% {
    transform: scale(0);
  }
}

@keyframes goodbird {
  to {
    opacity: 0;
  }
}

@keyframes score {
  to {
    counter-increment: score;
  }
}
